:root {
  font-size: 14px;
  --fg: #0d0d0d;
  --bg: #ededed;

  @media (prefers-color-scheme: dark) {
    --fg: #e6e6e6;
    --bg: #1d1d1d;
  }
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--fg);
  font-family: sans-serif;
}

.container {
  padding: 1rem;
}

.list {
  display:grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-template-rows: masonry;
}

ul li {
  margin:1rem;
  padding:1rem;
  border:1px red dashed;
  list-style: none;
  position: relative;
}

.breit {
  grid-column: span 2;
}